# Deny all direct access. Files in this folder are server-side only.
Require all denied
<IfModule mod_php.c>
  php_flag engine off
</IfModule>
AddType text/plain .php .phtml .php3 .php4 .php5 .php7 .pht .phps
